nav {
    width: auto;
}

.flex-container {
    display: flex;
}
.space-between {
    justify-content: space-between;
}

.top-left-nav {
    display: flex;
}

.top-right-nav {
    display: flex;
    padding-right: 40px;
}

li {
    padding-right: 10px;
    list-style-type: none;
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.bottom-left-top {
    padding-left: 40px;
}

.bottom-left-nav {
    display: flex;
}

.bottom-right-nav {
    display: flex;
    padding-right: 40px;
}